/* Margins */
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/* Z-index */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Base */
*,
::before,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: var(--nomral-font-size);
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --nomral-font-size: 1rem;
  }
}

/* Top Navbar */

.home_data {
  background-color: #181818;
  color: white;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  font-size: 11px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), 0 -4px 6px rgba(0, 0, 0, 0.4),
    4px 0 6px rgba(0, 0, 0, 0.4), -4px 0 6px rgba(0, 0, 0, 0.4);
}

.follows img {
  width: 17px;
  height: 17px;
  margin-right: 50px;
}

.follows {
  display: flex;
  margin: 10px 0px 0px 30px;
}

.address {
  display: flex;
}
.location,
.time {
  display: flex;
  align-content: center;
  margin-top: 10px;
}

.location img,
.time img {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.home_data > data {
  display: flex;
}

.time {
  margin-right: 50px;
}
/* Media Query for Medium screens */

@media (max-width: 768px) {
  .home_data {
    text-align: center;
  }

  .data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .address {
    margin-bottom: 20px;
  }

  .time,
  .location {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .time img,
  .location img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .follows {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .follows img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

/* Header Section */
header {
  position: relative;
  height: 100vh;
  background-image: url("../Assets/image\ 2.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 -4px 6px rgba(0, 0, 0, 0.2),
    4px 0 6px rgba(0, 0, 0, 0.2), -4px 0 6px rgba(0, 0, 0, 0.2);
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #181818;
  position: relative;
  z-index: 1;
}

/* Company Logo for header section*/

.logo {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 80px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.logo h1 {
  margin-left: 10px;
  font-size: 20px;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 40px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

.contact-button {
  width: auto;
  height: 50px;
  padding: 15px 30px;
  box-sizing: border-box;
  border-radius: 100px/100px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  margin: 0px 50px 0px 0px;
}

/* Button Hover Effect */

.contact-button:hover {
  background-color: #888;
  color: #ffcc4a;
}

.contact-button img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
/* Media Query for Medium screens */

@media (max-width: 768px) {
  .logo h1 {
    font-size: 24px;
  }

  nav {
    display: none;
  }
  .contact-button {
    display: none;
    margin-right: auto;
  }
}

/* Media Query for Large screens */

@media (max-width: 1200px) {
  .contact-button {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 991px) {
  .contact-button {
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
  }
  .contact-button img {
    display: block;
    margin: 0 auto;
  }
}

.img_overlay img {
  position: absolute;
  width: 95%;
  height: 500px;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  margin: 20px 0px 0px 74px;
}

@media (max-width: 991px) {
  .header-content {
    padding: 10px;
  }
  .logo h1 {
    font-size: 30px;
  }
  .inner-box p {
    font-size: 15px;
  }
  .logo img {
    width: 25px;
    height: 25px;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .inner-box {
    width: auto;
  }
}

/* Media Query for Medium screens */

@media (max-width: 767px) {
  .header-content {
    padding: 5px;
  }
  .logo h1 {
    font-size: 28px;
  }
  .inner-box p {
    font-size: 10px;
  }
  .contact-button {
    font-size: 10px;
  }
  .logo img {
    width: 20px;
    height: 20px;
  }
}

.inner-box {
  width: 400px;
  height: auto;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  padding: 30px;
  border-radius: 20px;
  left: 0;
  bottom: 0;
  margin: 150px 0px 90px 130px;
}

.inner-box h2 {
  font-weight: bold;
}

/* Button Size Style */

.btn {
  display: flex;
}
.btn-1 {
  width: 130px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 100px/100px;
  background-color: black;
  color: white;
  margin-right: 20px;
}
.btn-2 img {
  width: 25px;
}
.btn-2 {
  display: flex;
  justify-content: space-evenly;
  width: 180px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 100px/100px;
  background-color: white;
  color: black;
  font-size: small;
}
.btn-1:hover,
.btn-2:hover {
  background-color: #666;
  color: white;
}
/* Media Query for small screens */

@media (max-width: 576px) {
  .inner-box {
    padding: 20px;
    text-align: center;
    margin-left: 35px;
    margin-top: 50px;
  }

  .inner-box h2 {
    font-size: 24px;
  }

  .inner-box p {
    font-size: 14px;
  }

  .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn div {
    margin: 5px;
  }
}

/* Brand Logo */

.brand_logo img {
  width: 100%;
  height: 100px;
  padding: 3px;
  box-sizing: border-box;
  margin-top: 35px;
}
@media (min-width: 992px) {
  .brand_logo {
    width: 100%;
  }
}

/* About us */

.about-us {
  padding: 50px;
  margin-left: 13%;
  display: flex;
  gap: 20px;
}

.left-section {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 40%;
  margin-bottom: 20px;
}

.left-section h2 {
  font-size: 14px;
  text-align: center;
  width: 90px;
  box-sizing: border-box;
  border-radius: 100px/100px;
  font-weight: 500;
  background-color: #ffcc4a;
  border-radius: 100px/100px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.6);
}

.left-section h3,
h6 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.left-section p {
  font-size: 14px;
  color: #595566;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.statistics-boxes {
  display: flex;
  justify-content: space-between;
  width: max-content;
  border: 2px 0 solid gray;
  padding: 15px;
}

.box-container {
  display: flex;
  gap: 50px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating img {
  width: 20px;
  margin-right: 5px;
}

.box {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.box:hover {
  transform: scale(1.2);
}

.box h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
}

.box p {
  font-size: 14px;
}

.thick {
  width: 100%;
  height: 4px;
  background-color: #f0eeee;
}

.thin {
  width: 100%;
  margin-bottom: 0px;
  height: 1px;
  background-color: #e6e1e1;
}
.image-container1 img {
  width: 18%;
  margin-top: 110px;
  z-index: 1;
  position: absolute;
}
.image-container2 img {
  z-index: 2;
  position: absolute;
  width: 30%;
  border-radius: 25px;
  margin-bottom: 100px;
  top: 0;
  margin-left: 40px;
  margin-top: 900px;
}
.market-experience {
  width: auto;
  background-color: white;
  padding: 8px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 70rem;
  margin-right: 425px;
  transform: translateY(-50%);
}

.progress {
  width: 80px;
  height: 80px;
  border: 5px solid rgb(220, 220, 220);
  border-radius: 50%;
  border-top-color: green;
  border-right-color: green;
  border-bottom-color: green;
  position: relative;
  margin-right: 15px;
}

.market-experience span {
  position: absolute;
  margin: 20px 0 0 25px;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
}

/* Media Query for small screens */

@media (max-width: 576px) {
  .box-container {
    flex-wrap: wrap;
  }

  .box {
    flex-basis: 50%;
  }
  .about-us {
    flex-wrap: wrap;
  }
  .thick {
    width: 100%;
  }
  .thin {
    width: 100%;
  }
}

/* Media Query for Medium screens */

@media (max-width: 768px) {
  .market-experience {
    margin-right: 600px;
  }
  .thick {
    width: 100%;
  }
  .thin {
    width: 100%;
  }
}

/* Services */

/* Style for the services section */
.services-section {
  padding: 40px 0px;
  margin-top: 30px;
  background-color: #f5f5f5;
}
.service-container {
  margin-left: 13%;
  margin-right: 10%;
}
.services-heading {
  margin: 30px 0px 10px 48%;
  background-color: #4eaf4e;
  color: white;
  font-size: 14px;
  text-align: center;
  width: 90px;
  box-sizing: border-box;
  border-radius: 100px/100px;
  font-weight: 500;
}

.services-content {
  text-align: center;
  width: 50%;
  margin-left: 30%;
  margin-bottom: 30px;
}

.card {
  border: none;
  padding: 10px;
  margin: 10px 0px 20px 0px;
  background-color: #ebebeb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  background-color: #181818;
  color: white;
}

.card-img-top {
  border-radius: 8px 8px 0 0;
}

.card-body {
  padding: 20px;
  margin: 10px 0px 5px 0px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  color: #595566;
}

.card-text:hover {
  color: white;
}
.images {
  margin-left: 15px;
}

.img1 {
  width: 60px;
  height: 60px;
  z-index: 2;
  position: relative;
  margin-bottom: 10px;
}

.img2 {
  width: 40px;
  height: 40px;
  z-index: 1;
  position: absolute;
  margin-left: 15px;
  top: 0;
  left: 0;
  margin-top: 35px;
}

.img4 {
  width: 80px;
  height: 80px;
  z-index: 1;
  position: absolute;
  margin-left: 10px;
  top: 0;
  left: 0;
}

/* Media Query for Medium screens */

@media (max-width: 767px) {
  .services-heading {
    font-size: 15px;
    width: auto;
    box-sizing: border-box;
    margin-right: 25%;
  }
  .services-content {
    width: auto;
  }

  .card {
    margin-bottom: 20px;
  }
}

/* process & Client */

.process-client {
  margin: 40px 0px 30px 0px;
  padding: 20px;
  background-color: white;
  display: flex;
  gap: 80px;
}

.left-container {
  margin-left: 12%;
  width: 30%;
}
.right-container {
  width: 45%;
  margin-left: 10px;
  margin-right: 120px;
}
.process-heading {
  font-size: 14px;
  text-align: center;
  width: 90px;
  box-sizing: border-box;
  background-color: #4eaf4e;
  color: white;
  border-radius: 100px/100px;
  font-weight: 500;
}

.paragraph-1 {
  color: #595566;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.thin-line {
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

.process-image {
  width: 150px;
}
.process-content {
  display: flex;
}
.process-content p {
  font-size: 14px;
}

.content-body p {
  color: #595566;
}

.client-heading {
  font-size: 14px;
  text-align: center;
  width: 220px;
  box-sizing: border-box;
  background-color: #ffcc4a;
  border-radius: 100px/100px;
  font-weight: 500;
}

.boxes {
  width: 250px;
  padding: 25px;
  background-color: #fafafa;
  border-radius: 10px;
  margin-top: 10px;
}

.boxes:hover {
  background-color: #ebebeb;
}

.boxes p {
  font-size: 14px;
  color: #595566;
}

.boxes img {
  width: 40px;
  margin-bottom: 10px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

/* Gallery */

.gallery-container {
  padding-top: 20px;
  background-image: url("../Assets/vector2.png");
  max-width: 100%;
  height: 500px;
  box-sizing: border-box;
}

.text_primary {
  font-size: 14px;
  width: 90px;
  box-sizing: border-box;
  background-color: #4eaf4e;
  color: white;
  border-radius: 100px/100px;
  font-weight: 500;
  margin-left: 85px;
}

.more-gallery h5 {
  font-size: 14px;
  text-align: center;
  width: 120px;
  box-sizing: border-box;
  background-color: #ffcc4a;
  color: #181818;
  padding: 15px;
  border-radius: 100px/100px;
  font-weight: 500;
}

.heading {
  text-align: justify;
  color: white;
  font-weight: 600;
  width: 33%;
  margin-left: 100px;
}

.alignment {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.more-gallery {
  margin-right: 120px;
  margin-left: 0px;
}

.btn-3:hover {
  background-color: white;
  color: #181818;
  border: 1px solid #ffcc4a;
}

.text_center {
  margin-left: 170px;
  margin-top: 110px;
  text-align: center;
}

.mb-4 {
  margin-bottom: 1rem;
}

.justify-content-center {
  margin-bottom: 20px;
}

.picture-container .plus-img {
  width: 40px;
  height: 40px;
  margin: 25px;
}

.hover-effect {
  position: relative;
  overflow: hidden;
}

/* card images hover effect */

.picture-container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover-effect:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  margin: 10px;
  font-size: 16px;
  margin-right: 50%;
}

/* Media Query for small screens */

@media (max-width: 576px) {
  .row {
    flex-direction: column;
  }
  .text-center {
    text-align: left;
  }
  .mb-4 {
    margin-bottom: 0.5rem;
  }
  .alignment {
    flex-direction: column;
    text-align: center;
  }
  .more-gallery {
    text-align: center;
    margin-left: 125px;
  }
}

.container {
  padding: 15px;
  width: 100%;
  background-image: linear-gradient(rgb(247, 242, 242), white);
  border-radius: 18px;
  box-sizing: border-box;
  z-index: 1;
}

.picture-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  position: absolute;
  right: 0;
  margin-right: 300px;
}

.picture-container img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.mb-4 {
  margin-bottom: 1rem;
}

/* Media Query for medium screens */

@media (max-width: 768px) {
  .heading {
    font-size: 16px;
  }
  .more-gallery {
    margin-bottom: 1rem;
  }
  .btn-3 {
    font-size: 14px;
    padding: 10px 20px;
  }
  .picture-container {
    margin-right: 70px;
  }
}

/* Media Query for medium screens */

@media (min-width: 768px) and (max-width: 992px) {
  .heading {
    font-size: 18px;
  }
  .more-gallery {
    margin-bottom: 1rem;
  }
  .btn-3 {
    font-size: 16px;
    padding: 12px 24px;
  }
  .picture-container {
    margin-right: 130px;
  }
}

/* Client feedback */

.client-feedback {
  padding: 10px;
  margin-top: 30%;
}

.client-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.text_primary-1 {
  margin: 30px 0px 10px 45%;
  background-color: #4eaf4e;
  color: white;
  font-size: 14px;
  text-align: center;
  width: 140px;
  box-sizing: border-box;
  border-radius: 100px/100px;
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.lorem {
  margin-bottom: 1rem;
  width: 40%;
  margin-left: 420px;
  padding: 10px;
}

/* Rounded circle for the images */
.rounded-circle {
  border-radius: 50%;
}

/* Styles for the client feedback section */
.col-md-4 {
  text-align: center;
}
.profile {
  display: flex;
  align-items: center;
}
.forward img,
.backward img {
  width: 50px;
  transition: transform 0.3s ease;
}
.name img {
  transition: transform 0.8s ease;
}

.client-container .forward img:hover,
.backward img:hover,
.name img:hover {
  transform: translateX(-100px);
}
.client-container .name img:hover {
  transform: rotateY(360deg);
}

.paragraph-color {
  color: #cecece;
  font-family: Arial, Helvetica, sans-serif;
}

.smith {
  margin-top: 15px;
}

.designer {
  color: #4eaf4e;
  display: inline;
  text-align: center;
  display: inline;
}

/* Media Query for medium screens */

@media (min-width: 768px) and (max-width: 992px) {
  .client-feedback {
    margin-top: 300px;
  }
  .lorem {
    display: inline;
    width: 50%;
    text-align: left;
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .client-feedback {
    margin-top: 90rem;
  }
  .lorem {
    display: inline;
    width: 50%;
    text-align: left;
    margin-left: 0px;
  }
}

/* Overview cta */

.cta {
  width: 80%;
  margin-left: 100px;
}

.overview-cta {
  margin-bottom: 100px;
}

/* Blog */

.blog-section {
  padding-bottom: 30px;
  background-color: #f5f5f5;
}
.blog-container {
  padding-top: 10px;
  max-width: 100%;
  box-sizing: border-box;
}

.blog-details {
  margin-left: 20%;
  margin-right: 20%;
}

.blog-cards {
  display: flex;
  flex-direction: row;
}

.section-title {
  font-size: 14px;
  width: 90px;
  box-sizing: border-box;
  background-color: #4eaf4e;
  color: white;
  border-radius: 100px/100px;
  font-weight: 500;
  margin-left: 85px;
}

.area51 {
  display: flex;
  flex-direction: row;
}

.more-news {
  margin-top: 10px;
}

.blog-heading {
  font-size: 24px;
  font-weight: bold;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.image-heading {
  font-size: 20px;
  font-weight: bold;
}

.image-paragraph {
  font-size: 16px;
}

.heading-body {
  text-align: justify;
  color: black;
  font-weight: 600;
  width: 33%;
  margin-left: 100px;
}

.blogcard {
  border-radius: 5px;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.blog-holder {
  background-color: #f5f5f5;
  padding: 0%;
}

.blogcard-img-top {
  width: 400px;
  height: 250px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.blogcard-body {
  padding: 20px 0px;
  width: 85%;
}

.blogcard-title {
  font-size: 20px;
  font-weight: bold;
}

.blogcard-text {
  font-size: 12px;
  color: #595566;
}

.horizontal-line {
  border: 0.5px solid #ccc;
}

.profile-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}

.profile-info p {
  font-size: small;
  color: #595566;
}

.img-10 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dayanddate {
  margin-right: 5px;
}

.profile-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-name {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.blog-btn {
  width: 130px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 100px/100px;
  color: black;
  margin-right: 20px;
  margin-bottom: 10px;
}

.blog-btn:hover {
  background-color: #181818;
  color: white;
}

.vertical-line {
  width: 1px;
  height: 15px;
  background-color: #ccc;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.details-container {
  margin-left: 18%;
  margin-right: 10%;
  margin-bottom: 25px;
}

/* ****** Contact Us ***** */

.contact-container {
  width: 100%;
  display: flex;
  background-color: white;
  color: black;
  justify-content: center;
  align-items: center;
  padding: 80px;
}
.container .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
}
.row section.col {
  display: flex;
  flex-direction: column;
}
.row section.left {
  flex-basis: 35%;
  min-width: 320px;
  margin-right: 60px;
}
.text_primary10 {
  font-size: 14px;
  width: 90px;
  box-sizing: border-box;
  background-color: #4eaf4e;
  color: white;
  border-radius: 100px/100px;
  font-weight: 500;
  text-align: center;
  margin-left: 10px;
}
.row section.right {
  flex-basis: 60%;
}
section.left .contactTitle h2 {
  position: relative;
  font-size: 28px;
  color: #181818;
  display: inline-block;
  margin-bottom: 25px;
}

section.left .contactTitle p {
  font-size: 14px;
  color: #595566;
  letter-spacing: 1px;
  line-height: 1.2;
  padding-bottom: 22px;
}
section.left .contactInfo {
  margin-bottom: 16px;
}
.contactInfo .iconGroup {
  display: flex;
  align-items: center;
  margin: 25px 0px;
}
.iconGroup .icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 20px;
  position: relative;
}
.iconGroup .icon img {
  font-size: 20px;
  color: #ddd;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconGroup .details span {
  display: block;
  color: #595566;
  font-size: 18px;
}
.iconGroup .details span:nth-child(1) {
  text-transform: uppercase;
  color: #ccc;
}
section.left .socialMedia {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 22px 0px 20px;
}
.modify {
  color: #181818 !important;
  font-weight: 500;
}

/* Code for the right section (column) */

.row section.right .messageForm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
.row section.right .inputGroup {
  margin: 18px 0px;
  position: relative;
}

/* Form details list box styling */

.messageForm .halfWidth {
  flex-basis: 48%;
}
.messageForm .fullWidth {
  flex-basis: 100%;
}
.messageForm input,
.messageForm textarea {
  width: 100%;
  font-size: 18px;
  padding: 2px;
  background-color: white;
  color: #1e1e1e;
  border: none;
  border: 2px solid #666;
  border-radius: 25px;
  outline: none;
}
.messageForm textarea {
  resize: none;
  height: 220px;
  display: block;
}

/* Inner placeholder styling */

textarea::-webkit-scrollbar {
  width: 5px;
}
textarea::-webkit-scrollbar-track {
  background-color: #1e1e1e;
  border-radius: 15px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: dodgerblue;
  border-radius: 15px;
}

/* Text area styling */

.inputGroup label {
  position: absolute;
  left: 12px;
  bottom: 4px;
  color: #888;
  font-size: 18px;
  transition: 0.4s;
  pointer-events: none;
}
.inputGroup:nth-child(4) label {
  top: 2px;
}
.inputGroup input:focus ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label,
.inputGroup textarea:valid ~ label {
  transform: translateY(-30px);
  font-size: 16px;
  color: #1e1e1e;
}
.inputGroup button {
  padding: 8px 16px;
  font-size: 18px;
  background-color: #cecece;
  color: #181818;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
}
.inputGroup button:hover {
  background-color: #2e2e2e;
  color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid dodgerblue;
}
@media (max-width: 1100px) {
  .messageForm .halfWidth {
    flex-basis: 100%;
  }
}
@media (max-width: 900px) {
  .container .row {
    flex-wrap: wrap;
  }
  .row section.left,
  .row section.right {
    flex-basis: 100%;
    margin: 0px;
  }
}

/* Footer */

.footer-section {
  background-image: url("../Assets/image\ 27.png");
  background-size: cover;
  color: #fff;
}

.footer-container {
  width: 100%;
  display: flex;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  padding: 60px 70px 0px 70px;
}

.footer-container h4 {
  color: #fff;
  margin: 0px;
}

.footer-container p {
  font-size: 14px;
  color: #fff;
}

.vertical-line-1 {
  border-left: 1px solid #707070;
  height: 100%;
}

ul {
  list-style: disc;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* underline of heading line styling */

.half-line {
  height: 1px;
  width: 50%;
  display: inline-block;
  background-color: #707070;
}

.color-line {
  width: 55px;
  height: 3px;
  margin-top: 0px;
  background-color: #ffcc4a;
}

.black-line {
  background-color: #000;
}

/* Footer button styling */

.btn-footer {
  max-width: fit-content;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 10px;
  border: 1px solid white;
  background-color: #fff;
  border-radius: 50px;
  color: #000;
}

.horizontal-line {
  border: 1px solid #707070;
  margin-top: 30px;
}

.company-icon {
  max-width: 30px;
}

.logo-name {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.combine p {
  margin: 0px;
}
/* Footer Section Ends */
